<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> <%= title %></h1>
    <form action="/signup" method="post">
      <label for="name">Admin Name</label>
      <input type="text" name="name" value=""><p>
      <label for="email">Admin email</label>
      <input type="email" name="email" value=""><p>
      <label for="password">Password</label>
      <input type="password" name="password" value=""><p>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
